.body {
	color: #000;
	overflow-x: hidden;
	height: 100%;
	background-color: #278bf7;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.input {
	background-color: #fff;
	border-radius: 50px !important;
	padding: 12px 15px 12px 15px !important;
	width: 100%;
	box-sizing: border-box;
	border: none !important;
	border: 2px solid #f3e5f5 !important;
	font-size: 18px !important;
	color: #000 !important;
	font-weight: 400;
}

.input:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: 2px solid #d500f9 !important;
	outline-width: 0;
	font-weight: 400;
}

/* .card {
  border-radius: 0;
  border: none;
  box-shadow: 5px;
} */

.card1 {
	width: 50%;
	padding: 40px 30px 10px 30px;
}

.card2 {
	width: 50%;
	background-color: #04468d;
}

#logo {
	width: 70px;
	height: 60px;
}

.heading {
	margin-bottom: 60px !important;
}

::placeholder {
	color: #000 !important;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #000 !important;
}

::-ms-input-placeholder {
	color: #000 !important;
}

.msg-info {
	padding-left: 15px;
	margin-bottom: 30px;
}

.btn-color {
	border-radius: 50px;
	color: #fff;
	background-color: #04468d;
	padding: 15px;
	cursor: pointer;
	border: none !important;
	margin-top: 40px;
}

.btn-color:hover {
	color: #fff;
	background-color: #278bf7;
}

.btn-white {
	border-radius: 50px;
	color: #d500f9;
	background-color: #fff;
	padding: 8px 40px;
	cursor: pointer;
	border: 2px solid #d500f9 !important;
}

.btn-white:hover {
	color: #fff;
	background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

.bottom {
	width: 100%;
	margin-top: 50px !important;
}

.sm-text {
	font-size: 15px;
}

@media screen and (max-width: 992px) {
	.card1 {
		width: 100%;
		padding: 40px 30px 10px 30px;
	}

	.card2 {
		width: 100%;
	}

	/* .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important
  } */
}

@media screen and (max-width: 768px) {
	.container {
		padding: 10px !important;
	}

	.card2 {
		padding: 50px;
	}

	/* .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  } */
}

.btn-shine {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 12px 48px;
	color: #fff;
	background: linear-gradient(to right, #4d4d4d 0, #fff 10%, #4d4d4d 20%);
	background-position: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 3s infinite linear;
	animation-fill-mode: forwards;
	-webkit-text-size-adjust: none;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	white-space: nowrap;
}
@-moz-keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 180px;
	}
	100% {
		background-position: 180px;
	}
}
@-webkit-keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 180px;
	}
	100% {
		background-position: 180px;
	}
}
@-o-keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 180px;
	}
	100% {
		background-position: 180px;
	}
}
@keyframes shine {
	0% {
		background-position: 0;
	}
	60% {
		background-position: 180px;
	}
	100% {
		background-position: 180px;
	}
}
